* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");
.App {
  height: 500px;
  width: auto;
}
/* Nav bar */
.nav-bar {
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}
.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bar h2 {
  font-size: 40px;
}

.nav-bag {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bag-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  background-color: yellow;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  color: black;
  margin-left: 5px;
}
/* not found */

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: grey;
  min-height: 80vh;
  font-family: "Nunito";
}

/* home page */
.home-container {
  padding: 2rem 4rem;
}
.home-container h2 {
  font-size: 40px;
  font-weight: 700px;
  text-align: center;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

product {
  width: 250px;
  max-width: 100%;
  height: 400px;
}
.product img {
  width: 90%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
